<h1>Listing jobs</h1>

<table cellpadding="3" cellspacing="3" bgcolor="#C3C3C3">
  <tr bgcolor="#E3E3E3">
	<th>Date</th>
	<th>Meta</th>
	<th>Input Data</th>
	<th>Log</th>
	<th>Results</th>
	<th colspan="2">Actions</th>
  </tr>

<% @jobs.each do |job| %>
  <tr bgcolor="<% if job.completed %>#57E964<% elsif job.failed %>#800517<% else %>#FFFFFF<% end %>">
    <td><%=h job.created_at %></td>
    <td>
		<b>Nodes:</b> <%=h job.nodes %><br>
		<b>Pvalue:</b> <%=h job.pvalue %><br>
		<b>Deterministic:</b> <%=h job.make_deterministic_model %><br>
		<b>Update Type:</b> <%=h job.update_type %><br>
	</td>
    <td><pre><%=h job.input_data %></pre></td>
 	<td><pre><%=h job.log %></pre></td>
	<td>
		<% if job.completed %>
			<a href="/<%= job.file_prefix %>.input.txt">Input Data</a><br/>
			<a href="/<%= job.file_prefix %>.discretized_input.txt">Discretized Data</a><br/>
			
			<% if job.show_wiring_diagram %>
				<a href="/<%= job.file_prefix %>.wiring_diagram.dot">Dot File</a><br/>
				<a href="/<%= job.file_prefix %>.wiring_diagram.<%= job.wiring_diagram_format %>">Wiring Diagram</a><br/>
			<% end %>
			
			<% if job.show_functions %>
				<a href="/<%= job.file_prefix %>.functionfile.txt">Show Functions</a><br/>
			<% end %>
		<% end %>
	</td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
