<h1>New job</h1>



<% form_for(@job, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<div style="float: left;">
  <div style="display:none">
    <div id="input_data">
      <p>
        <label for="dialog_input_data">Input Data:</label><br />
        <textarea cols="30" rows="15" id="dialog_input_data" onChange="$('hidden_input_data').value = this.value;"></textarea>
      </p>
    </div>
  </div>
  <div onclick="toggle_panel(this, 'input_data_panel');" class="panel_header open">Input Data</div>
  <div id="input_data_panel" class="panel_body">
    <div>
      <%= f.label :nodes %>: <%= f.text_field :nodes, :size => 10 %>&nbsp;
      &nbsp;<%= f.label :pvalue %>: <%= f.text_field :pvalue, :size => 10 %><br/>
      <%= f.hidden_field :input_data, :id => "hidden_input_data" %>
      <%= f.label :input_file %>:
      <%= f.file_field :input_file %>
      <br />
      <button type="button" onclick="Modalbox.show( $('input_data'), {title: this.title, width: 300});">Manually Enter Input Data</button>
    </div>
  </div>
<br/><br/>
  <div style="display:none">
    <div id="known_functions">
      <p>
        <label for="dialog_known_functions">Known Functions:</label><br />
        <textarea cols="30" rows="15" id="dialog_known_functions" onChange="$('hidden_known_functions').value = this.value;"></textarea>
      </p>
    </div>
  </div>
  <div onclick="toggle_panel(this, 'known_functions_panel');" class="panel_header closed">Known Functions Data</div>
  <div id="known_functions_panel" class="panel_body">
    <div>
      <%= f.hidden_field :known_functions, :id => "hidden_known_functions" %>
      <%= f.label :known_functions_file %>:
      <%= f.file_field :known_functions_file %>
      <br />
      <button type="button" onclick="Modalbox.show( $('known_functions'), {title: 'Known Functions', width: 300});">Manually Enter Known Functions</button>
    </div>
  </div>
  <br/>
  <div onclick="toggle_panel(this, 'algorithm');" class="panel_header closed">Parameter estimation algorithm options</div>
  <div id="algorithm" class="panel_body"> 
    <div>
    <%= f.check_box :show_functions %>&nbsp;<%= f.label :show_functions, "Generate Functions" %><br/>
    <%= f.check_box :make_deterministic_model %>&nbsp;<%= f.label :make_deterministic_model %><br/>
    Here should be options for which algo<br>
    and the options for react
    </div>
  </div>
</div>

<div style="float: left; width: 50px;">&nbsp;</div>

<div style="float: left;">
  <div onclick="toggle_panel(this, 'wiring_diagram');" class="panel_header closed">Wiring Diagram Options</div>
  <div id="wiring_diagram" class="panel_body"> 
    <div>
    <%= f.check_box :show_wiring_diagram %>&nbsp;<%= f.label :show_wiring_diagram, "Generate Wiring Diagram" %><br />
      <%= f.label "Format: " %>
    <%= f.select :wiring_diagram_format, [ 
        ["*.gif", "gif"],
        ["*.jpg", "jpg"],
        ["*.png", "png"],
        ["*.ps", "ps"],
      ] %><br />
    <%= f.check_box :show_probabilities_wiring_diagram %>&nbsp;<%= f.label :show_probabilities_wiring_diagram %>
    </div>
  </div>
  
  <br>

  <div onclick="toggle_panel(this, 'state_space');" class="panel_header open">Simulation Options</div>
  <div id="state_space" class="panel_body"> 
  <div>
    <%= f.check_box :show_state_space %>&nbsp;<%= f.label :show_state_space, "Generate State Space" %><br />
    <%= f.label "Format: " %>
	<%= f.select :state_space_format, [ 
			["*.gif", "gif"],
			["*.jpg", "jpg"],
			["*.png", "png"],
			["*.ps", "ps"],
		] %><br />
	<%= f.check_box :show_probabilities_state_space %>&nbsp;<%= f.label :show_probabilities_state_space %>
	<br/>
	<%= f.label :update_type %>:
	<%= f.select :update_type, [ 
		["synchronous", ""],
		["sequential", "sequential"],
	] %><br />
	<button type="button" onclick="Modalbox.show( $('update_schedule'), {title: 'Update Schedule', width: 300});">Enter Update Schedule</button>
	<%= f.hidden_field :update_schedule, :id => "hidden_update_schedule" %>
    </div>
  </div>
<div style="display:none">
   <p id="update_schedule">
     <label for="dialog_update_schedule">Update Schedule:</label><br>
     <textarea id="dialog_update_schedule" cols="30" rows="3" onChange="$('hidden_update_schedule').value = this.value;"></textarea>
   </p>
</div>

  <br>

  <div onclick="toggle_panel(this, 'discretization');" class="panel_header closed">Discretization Options</div>
  <div id="discretization" class="panel_body"> 
    <div>
      <%= f.check_box :show_discretized %>&nbsp;<%= f.label :show_discretized %>
    </div>
  </div>

  <br>

</div>
  
<div style="clear: both"></div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>
